<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" rel="home">
        <img style="max-width:50px; margin-top: -7px;"
             src="/images/inicio.png">
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#">Codigo  de Goppa</a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
          
            <li ng-class="mIntroduccion"  ><a href="#!/">Introducción </a></li>
            <li ng-class="mParametros"    ><a href="#!/parametro/">Parámetros </a></li>
            <li ng-class="mAlgoritmo "    ><a href="#!/algoritmo/">Algoritmo </a></li>
            <li ng-class="mEjemplos "    ><a href="#!/ejemplo/">Ejemplos</a></li>
            <li ng-class="mAplicacion "    ><a href="#!/aplicacion/">Aplicación </a></li>
            <li ng-class="mBibliografia"    ><a href="#!/bibliografia/">Bibliografía </a></li>
          

            

           
           
          
        




        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        

      

            



      
     

      </ul>

    
    </div>


  </div>
</nav>