<!DOCTYPE html>
<html ng-app="appcontrol" ng-controller="mainCtrl">
  <head>
  	<title>Goopa</title>

    

    <% include partials/head %>



  </head>
  <body>


  	 <% include partials/nav %>	








    

<div class="container" div ng-view >
    
    

   
	


    

    







    

    





</div>













     








<% include partials/footer %>  


<script type="text/javascript" src="js/libs/jquery-2.1.0.min.js">
  </script>

  </body>
</html>
